* {
    box-sizing: border-box;
}

section {
    background-color: aqua;
    display: block;
    float: left;
    margin: 1%;
    border-collapse: collapse;

}
section, .title{
    border: 1px solid black;
}

.section1, .section2, .section3 {
    width: 31.3333%;

}

.title {
    width: 100px;
    margin-top:0 ;
    margin-right: 0%;
    background-color: gray;
    text-align: center;
    float: right;
    font-size: 20px;


}
.discription{
    clear: right;
    font-size: 16px;
    padding: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6{
        width: 48%;
    }
    .col-md-12{
        width:98%;
    }


}

@media (max-width: 767px) {
    .section1, .section2, .section3 {
        width: auto;
    }

}

@media screen and (min-width: 992px) {
    .section1, .section2, .section3 {
        width: 31.3333%;
    }

}

header{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}


    
